*{
  /* border: red solid 1px; */
}
/* Add Personnel Form CSS */
.formentry{
  margin-left: 10px;
}
#formentrybox{
  /* width: auto; */
  max-width: 800px;
  /* min-height: 300px; */
}

/* Navibar forced css */
.navimain{
  background-color: rgb(0, 0, 0);
}
.collapseburger{
  width: 100%;
  justify-content: flex-end;
}
.companylink{
  text-decoration: none;
}
#company-name{
  font-size: 30px;
}
#company-name:hover{
  font-weight: bold;
}
.nav-links{
  justify-content: space-evenly;
}
.nav-links a{
  text-decoration: none;
}
#navi-button{
  font-size: 20px;
  border: white solid 1px
}
#navi-button:hover{
  color: black;
  background-color: white;
  font-weight: bold;
}

/* Homepage -> action buttons */
#buttoncontainer{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 20px ;
  padding: 20px;
}
#action-button{
  background-color: rgb(128, 128, 128);
  border: black solid 1px;
}
#action-button:hover{
  background-color: rgb(228, 38, 38);
  color: white;
  font-weight: bold;
}
.homepage{
  background-color: rgba(0, 255, 255, 0.301);
}

/* QUICK GLANCE COMPONENT */
.glancetable{
  /* border: red solid 1px; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.glance-avail-table{
  margin: 20px;
  padding: 30px;
  border-right: blue solid 1px;
}
.glance-table-subheader{
  font-weight: bold;
  margin-bottom: 10px;
}
.MuiTableCell-head{
  border: black dotted 1px;
}
.MuiTableCell-body{
  border-right: black dotted 1px;
}
.glance-tasking-table{
  margin: 20px;
  padding: 30px;
  border-right: blue solid 1px;
}
.glance-onleave-table{
  margin: 20px;
  padding: 30px;
  border-right: blue solid 1px;
  border-top: blue solid 1px;
}
.glance-tdy-table{
  margin: 20px;
  padding: 30px;
  border-right: blue solid 1px;
  border-top: blue solid 1px;
}
@media only screen and (max-width: 600px) {

  #formentrybox{
    width: 300px;
  }
  
}

@media only screen and (max-height: 600px) {

  #formentrybox{
    height: 400px;
    overflow: scroll;
  }
  
}


